h1 {
    color: green; /*FF FF FF*/
}

header {
    color:blue;
}

div{ 
    color: pink !important;
}

#lista_desordenada {
    background: black;
    border: solid 1px  red;
    border-width: 5px;
    border-style: dashed;
    border-color: #A4F2D2 ;
    width: 80%;
    height: 800;

    margin: 0 20px;

}

.mi-clase {
    color: blueviolet;
}

.segunda-clase {
    font-size: 50px;
}